.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 50px $card-gap;

  @media (max-width: 984px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  @media (max-width: 736px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
